#subHIV .row label {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 10px;
}

#subHIV .row label input {
  float: right;
}

.paginite-btn {
  margin-right: 2%;
}

.prep-goUpdate {
  margin-right: 10%;
}