.ncd-list li {
  background-color: #D4F6CC;
  margin-right: 2%;
}

.ncd-Section,.riskLog-section {
  padding: 10px 1%;
}

.ncd-generalCode {
  margin-top: 36px;
}

.ncd-Section select {
  height: 50px;
}

.ncd_recordSave {
  height: 50px;
  background-color: #0ff21a4f;
  color: #fff0f5;
  margin-right: 2%;
}

.ncd_btn {
  text-align: center;
}

#ncd_existing .header-text,#ncdfollow_upAdd .header-text,.ncdv-labresult,#ncdRegister {
  position: relative;
}

.ncd_followview,
.ncd_Addfollow,.ncd-refresh {
  position: absolute;
  top: 0px;
}
.ncd-refresh{
  right: 15%;
}

.ncd_followTime {
  position: absolute;
  top: 4px;
  width: 80%;
  left: 10%;
}

.ncd_followview {
  left: 2%;
}

.ncd_Addfollow {
  right: 2%;
}

.ncd-generalInfo,
.ncd-Diagnosi,
.current-ncdMedic,
.othCurrent-ncdMedic,
.ncd_patientHist,
.ncd_familyHistory,
.ncdV-general,
.admis-ncdFollow,
.blood-sugarMoni,
.ncdv-labresult,
.ncdv-PhysicalEx {
  border: 1px solid #279EFF;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 2%;
}

#ncdV_latein,
#ncdV_FrequireIn {
  margin-right: 2%;
  border-radius: 0.25rem;
}

#ncdV_lateSpe,
#ncdV_FrequireDate {
  border-radius: 0.25rem;
}


.ncd-followList{
  position: absolute;
  background-color: #642121;
  margin: 0 auto;
  padding: 10px 5%;
  display: none;
  text-align: center;
  top: 1%;
  width: 98%;
}
.ncd-followList h2{
  border-bottom: 1px solid #D4F6CC;
  margin-bottom: 20px;
}

.ncd-followList .row div{
  border: 1px solid #fff0f5;
}
.follow_id,.follow_general{
  font-size: 20px;
}
.follow_datalist div:nth-child(n+3) {
 padding:8px;
}

#ncd_followAdd,#ncd_followView{
  display: none;
}
.cancel-btn {
  margin-top: 20px;
  justify-content: center;
  
}
.cancel-btn div {
  padding: 0%;
}
.cancel-btn  button {
  width: 100%;
  background-color: #ffed27;
}
.ncd_RIdchange input{
  width: 5%;
}
.ncd_RIdchange label{
  width: 73%;
  display: inline-block;
  position: absolute;
  top: 20%;
  font-size: 20px;
}
#ncd_existing .follow_timeLabel{
  text-align: left;
  padding-top: 10px;
}



/* .header-date{
  position: absolute;
  top: -13px;
  left: 40%;
  width: 20%;
}
.header-date label{
  font-weight: 900;
}
.header-date input{
} */